<div class="c-card u-p-medium u-mb-small">
    <h4 class="u-h5 u-text-bold u-text-center">
        <ngx-skeleton-loader appearance="square" [theme]="{ width: '100%', 'border-radius': '2px'}">
        </ngx-skeleton-loader>
    </h4>
    <h5 class="u-h6 u-text-bold">
        <ngx-skeleton-loader appearance="square" [theme]="{ width: '30%', 'border-radius': '2px'}">
        </ngx-skeleton-loader>
    </h5>
    <p class="u-text-small u-text-mute">
        <ngx-skeleton-loader appearance="square" [theme]="{ width: '80%', 'border-radius': '2px'}">
        </ngx-skeleton-loader>
    </p>
    <h5 class="u-h6 u-text-bold">
        <ngx-skeleton-loader appearance="square" [theme]="{ width: '30%', 'border-radius': '2px'}">
        </ngx-skeleton-loader>
    </h5>
    <p class="u-text-small u-text-mute">
        <ngx-skeleton-loader appearance="square" [theme]="{ width: '100%', 'border-radius': '2px'}">
        </ngx-skeleton-loader>
    </p>
    <h5 class="u-h6 u-text-bold">
        <ngx-skeleton-loader appearance="square" [theme]="{ width: '30%', 'border-radius': '2px'}">
        </ngx-skeleton-loader>
    </h5>

    <ngx-skeleton-loader appearance="square"
        [theme]="{ width: '100%', 'border-radius': '2px', 'margin-left': '15px auto'}">
    </ngx-skeleton-loader>
</div>