<div class="row" *ngIf="preloadData">
    <div class="col-sm-12 col-md-6">
        <app-card-details-image-loader [showLoader]="preloadData"></app-card-details-image-loader>
    </div> <!-- end col -->
    <div class="col-sm-12 col-md-6">
        <app-card-details-loader [showLoader]="preloadData"></app-card-details-loader>
    </div> <!-- end col -->
</div> <!-- end row -->

<div class="row u-mb-medium" *ngIf="preloadData">
    <div class="col-12">
        <app-table-loader [showLoader]="preloadData"></app-table-loader>
    </div> <!-- end col -->
</div>

<div class="row" *ngIf="!preloadData">
    <div class="col-sm-12 col-md-6">
        <app-card-details-image [image]="ciclo.url_ciclo_vida"></app-card-details-image>
    </div> <!-- end col -->
    <div class="col-sm-12 col-md-6">
        <app-card-details [ciclo]="ciclo"
                          [respaldo]="repaldo"
                          [imagesRespaldo]="this.imagesRespaldo">
        </app-card-details>
    </div> <!-- end col -->
</div> <!-- end row -->

<div class="row u-mb-medium" *ngIf="!preloadData">
    <div class="col-12">
        <app-table [ciclo]="ciclo" [fases]="ciclo.fases" [id]="id"></app-table>
    </div> <!-- end col -->
</div>