<div class="row" *ngIf="preloadData">
    <div class="col-sm-12 col-md-6">
        <app-card-details-image-loader [showLoader]="preloadData"></app-card-details-image-loader>
    </div> <!-- end col -->
    <div class="col-sm-12 col-md-6">
        <app-card-details-loader [showLoader]="preloadData"></app-card-details-loader>
    </div> <!-- end col -->
</div> <!-- end row -->

<div class="row u-mb-medium" *ngIf="preloadData">
    <div class="col-12">
        <app-table-loader [showLoader]="preloadData"></app-table-loader>
    </div> <!-- end col -->
</div>

<div class="row" *ngIf="!preloadData">
    <div class="col-sm-12 col-md-6">
        <app-card-details-image></app-card-details-image>
    </div> <!-- end col -->
    <div class="col-sm-12 col-md-6">
        <app-card-details></app-card-details>
    </div> <!-- end col -->
</div> <!-- end row -->

<div class="row u-mb-medium" *ngIf="!preloadData">
    <div class="col-12">
        <app-table></app-table>
    </div> <!-- end col -->
</div>