<!-- preload Data -->
<div class="row" *ngIf="preloadData">
    <div class="col-4">
        <app-card-loader [showLoader]="preloadData"></app-card-loader>
    </div>
    <div class="col-4">
        <app-card-loader [showLoader]="preloadData"></app-card-loader>
    </div>
    <div class="col-4">
        <app-card-loader [showLoader]="preloadData"></app-card-loader>
    </div>
</div>
<!-- end preload Data -->

<!-- button test momentaneo  -->
<button type="submit" class="c-btn c-btn--success u-mb-medium" data-toggle="modal" data-target="#modalCreateCiclo"
    (click)="showModal = !showModal">Crear Ciclo de vida</button>
<!-- end button test momentaneo -->

<!-- card -->
<div class="row" *ngIf="!preloadData">
    <div class="col-xs-12 col-sm-6 col-md-6 col-xl-4" *ngFor="let ciclo of ciclos">
        <app-card [ciclo]="ciclo"></app-card>
    </div>
</div>
<!-- card end -->

<app-createciclo *ngIf="showModal" (show)="closeModal($event)"></app-createciclo>