<!-- <div class="c-graph-card" data-mh="secondary-graphs">
	<div class="c-graph-card__chart u-p-zero">
		<div class="chartjs-size-monitor"
			style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
			<div class="chartjs-size-monitor-expand"
				style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
				<div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
			</div>
			<div class="chartjs-size-monitor-shrink"
				style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
				<div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
			</div>
		</div>
		<canvas id="js-chart-profit" width="312" height="156" class="chartjs-render-monitor"
			style="display: block; width: 312px; height: 156px;"></canvas>
	</div>

	<div class="c-graph-card__content">
		<div class="u-text-bold u-text-center" style="width: 100%">
			<h4 class="u-h5 u-mb-zero">Nombre del ciclo | Tipo de cultivo</h4>
		</div>
	</div>

	<div class="c-post description">
		<textarea
			class="c-post__content">I am currently writing a dissertation about whether Web Designers should know how to code their designs or just be the best designer they can be and I was wondering if I could get your thoughts on on this question and if coding is essential to a Web Designer.</textarea>
	</div>

	<div class="c-graph-card__footer">
		<div class="c-btn-group">
			<a class="c-btn c-btn--danger c-btn--small">
				<i class="fa fa-trash-o u-mr-xsmall"></i>Eliminar
			</a>
			
			<a class="c-btn c-btn--success c-btn--small" (click)="details()">
				<i class="fa fa-plus u-mr-xsmall"></i>Detalles
			</a>
		</div>
	</div>
</div> -->

<div class="c-project-card u-mb-medium">
	<img class="c-project-card__img" src="./assets/img/project-card1.jpg" alt="About the image">

	<div class="c-project-card__content">
		<div class="c-project-card__head">
			<h4 class="c-project-card__title">Magazine Images</h4>
			<p class="c-project-card__info">Kinfolk | Last Update: 21 Dec 2016</p>
		</div>


		<div class="c-project-card__meta">
			<p>4,870 USD
				<small class="u-block u-text-mute">Budget / Salary</small>
			</p>
			<p>Early Dec 2017
				<small class="u-block u-text-danger">10 Days Remaining</small>
			</p>
		</div>
	</div>
</div>