.c-post__content::-webkit-scrollbar {
    width: 8px; /* Tamaño del scroll en vertical */
    height: 8px; /* Tamaño del scroll en horizontal */
}

.c-post__content::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.c-project-card__img {
    height: 150px;
    width: 100%;
}
