<app-navlogin></app-navlogin>

<div class="mc-logo"></div>
<div class="o-page o-page--center mc-backgroud-color">
    <div class="o-page__card">
        <div class="c-card u-mb-xsmall">
            <header class="c-card__header u-text-center u-pt-large">
                <a class="c-card__icon" href="#!">
                    <img src="./assets/img/logo-agrosabanas-dashboard.svg" alt="Memoria de Campo">
                </a>
                <div class="row u-justify-center">
                    <div class="col-9">
                        <h1 class="u-h3">Olvidaste tu contraseña ?</h1>
                        <p class="u-h6 u-text-mute">
                            Ingresa tu correo, y recibiras instrucciones de como reestablecerla
                        </p>
                    </div>
                </div>
            </header>
            
            <form #frmRecovery="ngForm" class="c-card__body" (ngSubmit)="recovery(frmRecovery)">
                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="correo">Correo Electronico</label>
                    <input
                        name="correo"
                        class="c-input"
                        [(ngModel)]="correo"
                        #email="ngModel"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        [ngClass]="{
                            'c-input--success'  : email.valid && (email.dirty || email.touched),
                            'c-input--danger'   : email.invalid && (email.dirty || email.touched)
                        }"
                        type="email" 
                        id="correo" 
                        placeholder="clark@memoriadecampo.com" required>
                        <small class="c-field__message u-color-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                            <i class="fa fa-times-circle"></i>Ingrese un correo valido
                        </small> 
                </div>

                <button class="c-btn c-btn--success c-btn--fullwidth" type="submit" [disabled]="frmRecovery.invalid">Enviar Instrucciones</button>

                <div class="c-alert c-alert--{{errorStyle}} u-mt-small" *ngIf="showMessage">
                    <i class="c-alert__icon fa fa-check"></i>
                    {{errorMessage}}
                </div>
            </form>
        </div>
        <a class="u-text-mute u-text-small u-color-white" [routerLink]="['/register']">
            No tienes una cuenta aún ?
        </a>
    </div>
</div>

<app-footer></app-footer>