<div class="o-page__sidebar js-page-sidebar">
    <div class="c-sidebar">
        <a class="c-sidebar__brand" href="#">
            <img class="c-sidebar__brand-img" src="./assets/img/logo-agrosabanas-dashboard.svg" alt="Memoria de Campo">
            Memoria de Campo
        </a>

        <h4 class="c-sidebar__title">{{titleMenu}}</h4>
        <ul class="c-sidebar__list" *ngFor="let option of menuOptions">

            <li class="c-sidebar__item">
                <a class="c-sidebar__link" [routerLink]="[option.href]">
                    <i class="fa {{ option.icon }} u-mr-xsmall"></i> {{ option.namemenu }}
                </a>
            </li>
        </ul>
    </div>
</div>