<div class="c-table-responsive@desktop">
    <table class="c-table c-table--highlight u-mb-small table">

        <caption class="c-table__title">
            <ngx-skeleton-loader appearance="square" [theme]="{ width: '40%', 'border-radius': '2px'}">
            </ngx-skeleton-loader>

            <div class=" col-4 c-field has-addon-left c-pull-right">
                <ngx-skeleton-loader appearance="square"
                    [theme]="{ width: '100%', 'border-radius': '2px', 'position': 'absolute' }">
                </ngx-skeleton-loader>
            </div>

        </caption>

        <thead class="c-table__head">
            <tr class="c-table__row">
                <th class="c-table__cell c-table__cell--head">
                    <ngx-skeleton-loader appearance="square" [theme]="{ width: '100%', 'border-radius': '2px'}">
                    </ngx-skeleton-loader>
                </th>
                <th class="c-table__cell c-table__cell--head">
                    <ngx-skeleton-loader appearance="square" [theme]="{ width: '100%', 'border-radius': '2px'}">
                    </ngx-skeleton-loader>
                </th>

                <th class="c-table__cell c-table__cell--head">
                    <ngx-skeleton-loader appearance="square" [theme]="{ width: '100%', 'border-radius': '2px'}">
                    </ngx-skeleton-loader>
                </th>
                <th class="c-table__cell c-table__cell--head">
                    <ngx-skeleton-loader appearance="square" [theme]="{ width: '100%', 'border-radius': '2px'}">
                    </ngx-skeleton-loader>
                </th>
                <th class="c-table__cell c-table__cell--head">
                    <ngx-skeleton-loader appearance="square" [theme]="{ width: '100%', 'border-radius': '2px'}">
                    </ngx-skeleton-loader>
                </th>
                <th class="c-table__cell c-table__cell--head">
                    <ngx-skeleton-loader appearance="square" [theme]="{ width: '100%', 'border-radius': '2px'}">
                    </ngx-skeleton-loader>
                </th>

                <th class="c-table__cell c-table__cell--head">
                    <ngx-skeleton-loader appearance="square" [theme]="{ width: '100%', 'border-radius': '2px'}">
                    </ngx-skeleton-loader>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr class="c-table__row c-table__row">
                <td class="c-table__cell">
                    <ngx-skeleton-loader appearance="square" [theme]="{ width: '100%', 'border-radius': '2px'}">
                    </ngx-skeleton-loader>
                </td>

                <td class="c-table__cell">
                    <ngx-skeleton-loader appearance="square" [theme]="{ width: '100%', 'border-radius': '2px'}">
                    </ngx-skeleton-loader>
                </td>

                <td class="c-table__cell">
                    <ngx-skeleton-loader appearance="square" [theme]="{ width: '100%', 'border-radius': '2px'}">
                    </ngx-skeleton-loader>
                </td>

                <td class="c-table__cell">
                    <ngx-skeleton-loader appearance="square" [theme]="{ width: '100%', 'border-radius': '2px'}">
                    </ngx-skeleton-loader>
                </td>

                <td class="c-table__cell">
                    <ngx-skeleton-loader appearance="square" [theme]="{ width: '100%', 'border-radius': '2px'}">
                    </ngx-skeleton-loader>
                </td>

                <td class="c-table__cell">
                    <ngx-skeleton-loader appearance="square" [theme]="{ width: '100%', 'border-radius': '2px'}">
                    </ngx-skeleton-loader>
                </td>

                <td class="c-table__cell u-text-right">
                    <ngx-skeleton-loader appearance="square" [theme]="{ width: '100%', 'border-radius': '2px'}">
                    </ngx-skeleton-loader>
                </td>
            </tr>


        </tbody>
    </table>
</div>