<div class="c-toolbar u-mb-medium" *ngIf="rol == ''">
    <h3 class="c-toolbar__title u-mr-small"><ngx-skeleton-loader appearance="square" [theme]="{ width: '190px' }"></ngx-skeleton-loader></h3>
    <h5 class="c-toolbar__meta u-mr-auto"><ngx-skeleton-loader appearance="square" [theme]="{ width: '80px' }"></ngx-skeleton-loader></h5>

    <div class="c-choice c-choice--radio u-mt-small u-mr-small">       
        <label class="c-choice__label" for="tipo"><ngx-skeleton-loader appearance="square" [theme]="{ width: '70px' }"></ngx-skeleton-loader></label>
    </div>
    <div class="c-choice c-choice--radio u-mt-small u-mr-small">        
        <label class="c-choice__label" for="nombre"><ngx-skeleton-loader appearance="square" [theme]="{ width: '70px' }"></ngx-skeleton-loader></label>
    </div>        
    <div class="c-choice c-choice--radio u-mt-small u-mr-small">        
        <label class="c-choice__label" for="nombre"><ngx-skeleton-loader appearance="square" [theme]="{ width: '70px' }"></ngx-skeleton-loader></label>
    </div>        
</div>
