<div class="c-table-responsive@desktop">
	<table class="c-table c-table--highlight u-mb-small table">

		<caption class="c-table__title">
			Fases del ciclo ... <small>{{fases.length}}</small>

			<div class=" col-4 c-field has-addon-left c-pull-right">
				<span class="c-field__addon">
					<i class="fa fa-search"></i>
				</span>
				<label class="c-field__label u-hidden-visually"></label>
				<input class="c-input" type="text" placeholder="Buscar por nombre su Fase">
			</div>

			<button class="c-btn c-btn--success c-pull-right" data-toggle="modal" data-target="#modalFase"
				(click)="showModal = !showModal">
				<i class="fa fa-plus u-mr-xsmall"></i>Agregar fase
			</button>
		</caption>

		<thead class="c-table__head">
			<tr class="c-table__row">
				<th class="c-table__cell c-table__cell--head">Nombre</th>
				<th class="c-table__cell c-table__cell--head">Detalles</th>
				<th class="c-table__cell c-table__cell--head">Sugerencias</th>
				<th class="c-table__cell c-table__cell--head">Habilitar</th>
				<th class="c-table__cell c-table__cell--head">Rango de días</th>
				<th class="c-table__cell c-table__cell--head">literatura</th>
				<th class="c-table__cell c-table__cell--head">
					<span class="u-hidden-visually">Acciones</span>
				</th>
			</tr>
		</thead>

		<tbody *ngIf="fases.length > 0">
			<tr class="c-table__row" [class.c-table__row--danger]="fase.habilitar == false"
				*ngFor="let fase of fases, let i = index">
				<td class="c-table__cell">
					{{fase.nombre}}
				</td>

				<td class="c-table__cell">
					<p class="parrafo">
						{{fase.detalles}}
					</p>
				</td>

				<td class="c-table__cell">
					<p class="parrafo">
						{{fase.sugerencias}}
					</p>
				</td>

				<td class="c-table__cell" *ngIf="fase.habilitar == true || fase.habilitar == 'true'">
					<span class="c-badge c-badge--success">Habilitado</span>
				</td>

				<td class="c-table__cell" *ngIf="fase.habilitar == false || fase.habilitar == 'false'">
					<span class="c-badge c-badge--danger">Deshabilitado</span>
				</td>

				<td class="c-table__cell">
					<i class="fa fa-circle-o u-color-info u-mr-xsmall"></i>{{fase.rango_dias.inicio}} |
					{{fase.rango_dias.fin}}
				</td>

				<td class="c-table__cell">
					<i class="fa fa-circle-o u-color-info u-mr-xsmall"></i>{{fase.rango_dias_literatura}}.
				</td>

				<td class="c-table__cell u-text-right">
					<div class="c-dropdown dropdown">
						<button class="c-btn c-btn--secondary has-dropdown dropdown-toggle" id="dropdownMenuButton27"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones</button>

						<div class="c-dropdown__menu dropdown-menu" aria-labelledby="dropdownMenuButton27">
							<a class="c-dropdown__item dropdown-item" data-toggle="modal" data-target="#modalFase"
								(click)="updateFase(i)">Editar</a>
							<a class="c-dropdown__item dropdown-item" (click)="deleteFase(i)">Eliminar</a>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<app-createfase [index]="i" (show)="closeModal($event)" (i)="indexClear($event)" *ngIf="showModal" [ciclo]="ciclo"></app-createfase>