<div class="c-card u-p-medium u-mb-small">
    <h4 class="u-h5 u-text-bold u-text-center">Ciclo de vida</h4>
    <h5 class="u-h6 u-text-bold">Nombre del ciclo</h5>
    <p class="u-text-small u-text-mute">
        Ciclo ...
    </p>
    <h5 class="u-h6 u-text-bold">Tipo del cultivo</h5>
    <p class="u-text-small u-text-mute">
        Tipo ...
    </p>
    <h5 class="u-h6 u-text-bold">Descripcion del ciclo de vida</h5>
    <p class="u-text-small u-text-mute">
        You’re currently in <strong class="u-text-bold">TOP 10%</strong>
        of Workspace platform your rating is <strong class="u-text-bold">4.85</strong>.
        Keep up great work!
    </p>

    <a class="c-btn c-btn--info c-btn--fullwidth u-mt-small" data-toggle="modal" data-target="#modalCreateCiclo">Editar ciclo</a>
</div>

<app-createciclo></app-createciclo>