<footer class="footer">
    <div class="container-footer">
        <nav>
            <ul>
                <li>
                    <a href="#">
                        agrosabanas
                    </a>
                </li>                   
                <li>
                    <a href="#">
                        BPA (Buenas Practicas Agricolas)
                    </a>
                </li>
                <li>
                    <a href="#">
                        agroteam
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
