<div class="row u-m-small" *ngIf="preloadData == false && cultivosCollections.length == 0; else records;">
    <div class="col-lg-12 u-text-center">
        <img class="u-mt-logo" src="./assets/img/logo-agrosabanas.svg" height="100px" width="100px">
        <label class="c-field__label"><strong>Memoria de Campo y BPA (Buenas Practicas Agricolas)</strong></label>
        <button class="c-btn c-btn--success" data-toggle="modal" data-target="#modalCreateCultivo">Crear mi primer Cultivo</button>
    </div>
</div>
<ng-template #records>
    <div class="row">
        <div class="col">
            <app-resumen [showLoader]="preloadData" [data]="cultivosCollections" (query)="recibe($event)"></app-resumen>
        </div>
    </div>
</ng-template>

<app-createculivo ></app-createculivo>